<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	<!-- 网站作者 -->
	<meta name="author" content="51区块研发团队">
	<!-- 网站关键词 -->
	<meta name="keywords" content="51区块,数字资产">
	<!-- 网站描述 -->
	<meta name="description" content="51区块">

	<title>我的信息| 51区块</title>

	<!-- Bootstrap.css -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- bootstrapValidator.css -->
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">

	<!-- public.css -->
	<link rel="stylesheet" href="/css/public.css">

	<!-- jQuery.js 1.11.1-->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- Bootstrap.js -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	

	<!-- vue.js -->
	<script src="//cdn.bootcss.com/vue/1.0.24/vue.js"></script>

	<!-- jquery.cookie.js -->
	<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>
	<script src="//cdn.bootcss.com/vue-router/0.7.10/vue-router.min.js"></script>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
	<!-- <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet"> -->
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">
	<style>
		.bs-callout-success {
    		border-left: 3px solid #20b062;
    		padding-left: 5px;
    		font-weight: bold;
    		font-size: 18px;
    	}
/*    	.tabs-container .panel-body,
    	.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus {
    		background: transparent;
    	}
    	.tabs-container .panel-body {
    		border: none;

    	}*/
    	.tab-content {
    	    margin-top: 10px;
    		padding: 30px 40px;
    	}
    	.nav-tabs > li.active > a, 
    	.nav-tabs > li.active > a:hover, 
    	.nav-tabs > li.active > a:focus {
    		color: #20b062;
    	}
	</style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="bs-callout-success">
                	担保公司我的信息
                </h3>

            </div>
            <!-- <div class="col-sm-12">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                        	<a data-toggle="tab" href="#tab-1" aria-expanded="true"> 
                        		个人信息
                        	</a>
                        </li>
                        <li class="">
	                        <a data-toggle="tab" href="#tab-2" aria-expanded="false">
	                        	证件信息
	                        </a>
                        </li>
                        <li class="">
	                        <a data-toggle="tab" href="#tab-3" aria-expanded="false">
	                        	我的账户
	                        </a>
                        </li>
                        <li class="">
	                        <a data-toggle="tab" href="#tab-4" aria-expanded="false">
	                        	账户安全
	                        </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <strong>
                                	HTML5 文档类型
                                </strong>
                                <p>
                                	Bootstrap 使用到的某些 HTML 元素和 CSS 属性需要将页面设置为 HTML5 文档类型。在你项目中的每个页面都要参照下面的格式进行设置。
                                </p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <strong>
                                	证件信息
                                </strong>
                                <p>
                                	在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
                                </p>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <strong>
                                	我的账户
                                </strong>
                                <p>
                                	在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
                                </p>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <strong>
                                	账户安全
                                </strong>
                                <p>
                                	在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3 中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap 是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div> -->
            <div class="col-sm-12">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="">
						<a href="#tab1" id="" data-toggle="tab" aria-expanded="true">
							个人信息
						</a>
					</li>
					<li role="presentation" class="">
						<a href="#tab2" id="" data-toggle="tab" aria-expanded="false">
							证件信息
						</a>
					</li>
					<li role="presentation" class="active">
						<a href="#tab3" id="" data-toggle="tab" aria-expanded="false">
							我的账户
						</a>
					</li>
					<li role="presentation" class="">
						<a href="#tab4" id="" data-toggle="tab" aria-expanded="false">
							账户安全
						</a>
					</li>
				</ul>
				<div id="myTabContent" class="tab-content panel panel-default">
					<div  class="tab-pane fade " id="tab1" >
						<div class="row">
						 	<div class="col-sm-6">
						 		<form class="form-horizontal" role="form">
						 			<div class="form-group">
										<label for="username" class="col-sm-4 control-label">头像：</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-4"></div>
											</div>
											<div class="row">
												<div class="col-xs-4  col-xs-offset-1 btn btn-default">上传照片</div>
												<div class="col-xs-6">*仅支持JPG、PNG文件小于1M*</div>
											</div>
										</div>
									</div>
									<!-- 用户名 -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">用户名：</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="username" placeholder="请输入用户名">
										</div>
									</div>
									<!-- 性别： -->
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label">性别：</label>
										<div class="col-sm-8">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios1" value="1" v-model="userInfo.registerType" checked> 男
											</label>
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios2" value="2" v-model="userInfo.registerType"> 女
											</label>
										</div>
									</div>
									<!-- 简介 -->
									<div class="form-group">
										<label for="intro" class="col-sm-4 control-label">简介：</label>
										<div class="col-sm-8">
											<textarea name="" id="intro" rows="5" placeholder="请填写您的个人简介..." class="panel panel-default" style="resize:none;padding: 10px;width:100%"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-4 control-label"></label>
										<div class="col-sm-8">
											<div class="row">
												<button type="button" class="btn btn-default col-xs-4 col-xs-offset-1 ">取消修改</button>
												<button type="button" class="btn btn-success col-xs-4 col-xs-offset-2">保存修改</button>
											</div>
											
										</div>
									</div>
								</form>
						 	</div>
						</div>
						
					</div>
					<div  class="tab-pane fade" id="tab2" >
						<div class="row">
						 	<div class="col-sm-6">
						 		<form class="form-horizontal" role="form">
						 			<div class="form-group">
										<label for="username" class="col-sm-4 control-label">姓名：</label>
										<div class="col-sm-8">
											周吴郑
										</div>
									</div>
									<!-- 用户名 -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">证件类型：</label>
										<div class="col-sm-8">
											居民身份证
										</div>
									</div>
									<!-- 性别： -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">证件号码：</label>
										<div class="col-sm-8">
											1212121212***1554545
										</div>
									</div>
									<!-- 简介 -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">证件照片：</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-sm-6">
													<img src="/images/logo.png" alt="">
												</div>	
												<div class="col-sm-6">
													<img src="/images/logo.png" alt="">
												</div>
											</div>
											<div class="col-sm-12">
												*51区块严格保证您的身份信息安全，使用加密，水印多种方法避免用于其他用户*
											</div>
										</div>
									</div>
									
								</form>
						 	</div>
						</div>
					</div>
					<div  class="tab-pane fade active in" id="tab3" >
						<div class="row">
						 	<div class="col-sm-6">
							 	<form class="form-horizontal" role="form">
						 			<div class="form-group">
										<label for="username" class="col-sm-4 control-label">账户余额：</label>
										<div class="col-sm-8">
											<h3 class="text-success">
												$0.00
												<i>账户明细</i>
											</h3>
										</div>
									</div>
									<!-- 用户名 -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">我的银行卡：</label>
										<div class="col-sm-8">
											<div>
												<i>⚠️</i>还没有绑定银行卡<a href="" class="text-success">立即绑定>></a>
											</div>
											
											<div class="text-muted">
												绑定银行卡才能在51区块进行资产交易，绑定的银行卡将用于资产赎回兑付等。51区块讲严格保证您的账户信息安全，不会泄露您的银行卡信息。
											</div>
										</div>
									</div>
									<!-- 性别： -->
								</form>
						 	</div>
						 </div>
					</div>
					<div  class="tab-pane fade" id="tab4" >
						<div class="row">
						 	<div class="col-sm-6">
							 	<form class="form-horizontal" role="form">
						 			<div class="form-group">
										<label for="username" class="col-sm-4 control-label">账户密码：</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-6">
													********
												</div>
												<a class="col-xs-6 text-success">
													重置>>
												</a>
											</div>
										</div>
									</div>
									<!-- 用户名 -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">绑定手机：</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-6">
													158********454
												</div>
												<a class="col-xs-6 text-success">
													修改 >>
												</a>
											</div>
										</div>
									</div>
									<!-- 性别： -->
									<div class="form-group">
										<label for="username" class="col-sm-4 control-label">绑定邮箱：</label>
										<div class="col-sm-8">
											<div class="row">
												<div class="col-xs-6">
													未绑定
												</div>
												<a class="col-xs-6 text-success">
													去绑定 >>
												</a>
											</div>
										</div>
									</div>
								</form>
						 	</div>
						 </div>
					</div>
				</div>
			</div>
        </div>
    </div>
        <!-- 全局js -->
    <script src="js/plugins/jquery.metisMenu.js"></script>
    <!-- 滚动条 -->
    <script src="js/plugins/jquery.slimscroll.min.js"></script>
    <!-- 弹出层 -->
<!--     <script src="js/plugins/layer.min.js"></script> -->
    <!-- 公共js文件 -->
    <script src="js/public.js"></script>
    <!-- 第三方插件 -->
    <script src="js/plugins/pace.min.js"></script>
</body>
</html>