<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<!-- 网站作者 -->
		<meta name="author" content="51区块研发团队">
		<!-- 网站关键词 -->
		<meta name="keywords" content="51区块,数字资产">
		<!-- 网站描述 -->
		<meta name="description" content="51区块">

		<title>登录页面 | 51区块</title>

		<!-- Bootstrap.css -->
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

		<!-- bootstrapValidator.css -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css">

		<!-- public.css -->
		<link rel="stylesheet" href="/css/public.css">

		<!-- jQuery.js 1.11.1-->
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

		<!-- Bootstrap.js -->
		<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

		

		<!-- vue.js -->
		<script src="//cdn.bootcss.com/vue/1.0.24/vue.js"></script>

		<!-- jquery.cookie.js -->
		<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

		<!-- bootstrapValidator.js 表单验证-->
		<script src="//cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>

		<script src="http://malsup.github.com/jquery.form.js"></script>

		<!-- 上传照片 -->
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-fileinput/4.3.5/css/fileinput.min.css">	
		<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/fileinput.js"></script>
		<script src="//cdn.bootcss.com/bootstrap-fileinput/4.3.5/js/locales/zh.min.js"></script>

		<!-- 注册样式 -->
		<link rel="stylesheet" href="/css/register.css">
		<link rel="stylesheet" href="/css/register-media.css">
	</head>
	<body>
		<!-- 导航栏 -->
	    <nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid max-width">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<img alt="Brand" src="/images/logo.png">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      		<ul class="nav navbar-nav">
		        		<li class=""><a>一站式区块链服务，专注实物资产数字化</a></li>
		        	</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/login.html">
								<span>
									已有账号？
								</span>
								<u>
									直接登录 >>
								</u>
							</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<!-- 注册表单容器 -->
	    <div class="row max-width register-box" >
			<div class="tabs-container" id="register-box">
				<!-- tab标题 -->
		        <ul class="nav nav-tabs">
		        	<li  v-for="i in titles" class="col-xs-3" :class="{'active': i.active}" v-bind={OTHERAttr:i.style}>
		            	<a v-bind={"aria-expanded":i.active}> 
		            		{{i.title}}
		            	</a>
		            </li>
		        </ul>
		        <!-- tab内容 -->
		        <div class="tab-content">
		        	<!-- 注册 -->
	        		<div id="tab-1" class="tab-pane " transition="expand">
	        			<div class="row">
	        				<div class="panel-body col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
			                    <form role="form">
									<div class="form-group">
									    <label for="username">用户名</label>
									    <input type="text" class="form-control" id="username" placeholder="请输入用户名" name="username" v-model="userInfo.user_name">
									   	<!-- 错误提示 -->
									</div>
									<div class="form-group">
									    <label for="password">密码</label>
									    <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password" v-model="userInfo.password">
									    <!-- 错误提示 -->
									</div>
									<div class="form-group">
									    <label for="repassword">确认密码</label>
									    <input type="password" class="form-control" id="repassword" placeholder="请再次输入密码" name="repassword">
									    <!-- 错误提示 -->
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-absolutely">
											注册
										</button>
									</div>
								</form>
			                </div>
	        			</div>
		            </div>
		            <!-- 绑定手机 -->
		            <div id="tab-2" class="tab-pane">
		                <div class="row">
	        				<div class="panel-body col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
			                    <form role="form" class="form-horizontal" >
									<div class="form-group">
									    <label for="phone">手机</label>
									    <input type="number" class="form-control" id="phone" name="telephone" placeholder="请输入手机号码" v-model="userInfo.telephone">
									   	<!-- 错误提示 -->
									</div>
    								<div class="form-group">
    									<label for="verify">验证</label>
										<div class="input-group">
										    <input type="number" class="form-control" id="verify" placeholder="请输入验证码" name="verify" v-model="userInfo.verify">
										    <span class="input-group-btn" >
										        <button class="btn btn-default" type="button" id="verifyBtn" value="0">发送验证码</button>
										    </span>
									    </div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-success btn-absolutely">
											继续
										</button>
										<a href="" class="text-muted btn-skip">
											<u>
												跳过 &gt;&gt;
											</u>
										</a>
									</div>
								</form>
			                </div>
	        			</div>
		            </div>
		            <!-- 填写信息 -->
		            <div id="tab-3" class="tab-pane active">
		                <div class="row">
	        				<div class="panel-body col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
	        					
								<form class="form-horizontal" role="form" id="auth">
									<!-- 注册人真实姓名 -->
									<div class="form-group">
										<label for="registerName" class="col-sm-4 control-label">注册人真实姓名</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="registerName" name="registerName" placeholder="请输入注册人真实姓名" v-model="userInfo.registerName">
										</div>
									</div>
									<!-- 证件类型 -->
									<div class="form-group">
										<label for="papersType" class="col-sm-4 control-label">证件类型</label>
										<div class="col-sm-8">
											<select class="form-control" id="papersType" v-model="userInfo.papersType">
												<option value="1" selected>
													身份证
												</option>
												

											</select>	
										</div>
									</div>
									<!-- 证件号码 -->
									<div class="form-group">
										<label for="papersNum" class="col-sm-4 control-label">证件号码</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="papersNum" name="papersNum" placeholder="请输入证件号码" v-model="userInfo.papersNum">
										</div>
									</div>
									<!-- 上传证件图片 -->
									<div class="form-group">
										<label for="companyName" class="col-sm-4 control-label">上传证件图片</label>
										<div class="col-sm-8">
												<!--<input id="file-1"  class="file" data-overwrite-initial="false" data-min-file-count="1" type="file" name="file" >-->
									            <input id="file-1" name="imageUrl" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
										</div>
									</div>
									<!-- 固定电话 -->
									<div class="form-group">
										<label for="contactPhone" class="col-sm-4 control-label">固定电话</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="请输入固定电话" v-model="userInfo.contactPhone">
										</div>
									</div>
									<!-- 邮箱 -->
									<div class="form-group">
										<label for="email" class="col-sm-4 control-label">邮箱</label>
										<div class="col-sm-8">
											<input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱" v-model="userInfo.email">
										</div>
									</div>
									<!-- 注册按钮 -->
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-absolutely">
											继续
										</button>
										<a href="" class="text-muted btn-skip">
											<u>
												跳过 &gt;&gt; 
											</u>
										</a>
									</div>

			                    	<!-- 注册类型 -->
    								<!-- <div class="form-group">
										<label for="registerType" class="col-sm-3 control-label">
											注册类型
										</label>
										<div class="col-sm-9 radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" v-model="userInfo.registerType" checked> 负责人
											</label>
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" v-model="userInfo.registerType"> 法人代表
											</label>
										</div>
									</div> -->
									<!-- 企业全称 -->
									<!-- <div class="form-group">
										<label for="companyName" class="col-sm-3 control-label">企业全称</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="companyName" name="companyName" placeholder="请输入企业全称" v-model="userInfo.companyName">
										</div>
									</div> -->
									<!-- 企业类型 -->
									<!-- <div class="form-group">
										<label for="companyType" class="col-sm-3 control-label">企业类型</label>
										<div class="col-sm-9">
											<select class="form-control" id="firstname" v-model="userInfo.companyType">
												<option value="1" selected>1</option>
												<option value="2">2</option>
												<option value="3">3</option>

											</select>	
										</div>
									</div> -->
									<!-- 主营业务 -->
									<!-- <div class="form-group">
										<label for="companyBusiness" class="col-sm-3 control-label">主营业务</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="companyBusiness" name="companyBusiness" placeholder="请输入主营业务"  v-model="userInfo.companyBusiness">
										</div>
									</div> -->
									<!-- 资质文件 -->
									<!-- <div class="form-group">
										<label for="aptitudeFile" class="col-sm-3 control-label">资质文件</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="aptitudeFile" name="aptitudeFile" placeholder="请输入资质文件编码"   v-model="userInfo.aptitudeFile">
										</div> -->
										<!-- 文件上传模块 -->
										<!-- <div class="col-sm-9 col-sm-offset-3 uploadfile text-center">
											<div>
												<span class="uploadfile-title text-">

													*请上传文件扫描图片*
												</span>
												<br>
												<button type="button" class="btn btn-success uploadfile-btn" id="aptitude-btn">
													上传图片
												</button> -->
												<!-- <input type="file"> -->
											<!-- </div>
										</div>
									</div> -->
									<!-- 营业执照 -->
									<!-- <div class="form-group">
										<label for="license" class="col-sm-3 control-label">营业执照</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="license" name="license" placeholder="请输入营业执照编码"  v-model="userInfo.license">
										</div> -->
										<!-- 文件上传模块 -->
										<!-- <div class="col-sm-9 col-sm-offset-3 uploadfile text-center">
											<div>
												<span class="uploadfile-title text-">

													*请上传文件扫描图片*
												</span>
												<br>
												<button type="button" class="btn btn-success uploadfile-btn" id="business-btn">
													上传图片
												</button> -->
												<!-- <input type="file"> -->
											<!-- </div>
										</div>
									</div> -->
									<!-- 法人代表 -->
									<!-- <div class="form-group">
										<label for="legalPerson" class="col-sm-3 control-label">法人代表</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="legalPerson" name="legalPerson" placeholder="请输入企业法人代表" v-model="userInfo.legalPerson">
										</div>
									</div> -->
									<!-- 联系电话 -->
									<!-- <div class="form-group">
										<label for="contactPhone" class="col-sm-3 control-label">联系电话</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="请输入企业联系电话" v-model="userInfo.contactPhone">
										</div>
									</div> -->
									<!-- 地址 -->
									<!-- <div class="form-group">
										<label for="site" class="col-sm-3 control-label">地址</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="site" name="site" placeholder="请输入企业地址"  v-model="userInfo.site">
										</div>
									</div> -->
									<!-- 电子邮箱 -->
									<!-- <div class="form-group">
										<label for="email" class="col-sm-3 control-label">电子邮箱</label>
										<div class="col-sm-9">
											<input type="email" class="form-control" id="email" name="email" placeholder="请输入企业邮箱地址"  v-model="userInfo.email">
										</div>
									</div> -->
									<!-- 注册按钮 -->
									<!-- <div class="form-group">
										<button type="submit" class="btn btn-success btn-absolutely">
											继续
										</button>
										<a href="" class="text-muted btn-skip">
											<u>
												跳过 &gt;&gt; 
											</u>
										</a>
									</div> -->
								</form>
			                </div>
	        			</div>
		            </div>
		            <!-- 绑定银行卡 -->
		            <div id="tab-4" class="tab-pane">
		                <div class="row">
	        				<div class="panel-body col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
			                    <form role="form">
									<div class="form-group">
									    <label for="cardUsername">持卡人姓名</label>
									    <input type="text" class="form-control" id="cardUsername" name="cardUsername" placeholder="请输入持卡人姓名" v-model="userInfo.cardUsername">
									   	<!-- 错误提示 -->
									</div>
									<div class="form-group">
									    <label for="cardNumber">银行卡号</label>
									    <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="请输入银行卡号" v-model="userInfo.cardNumber">
									    <!-- 错误提示 -->
									</div>
									<div class="form-group">
									    <label for="bank">开户银行</label>
									    <input type="text" class="form-control" id="bank" name="bank" placeholder="请输入开户银行" v-model="userInfo.bank">
									    <!-- 错误提示 -->
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-success btn-absolutely">
											完成
										</button>
										<a href="" class="text-muted btn-skip">
											<u>
												跳过,去登录&gt;&gt; 
											</u>
										</a>
									</div>
								</form>
			                </div>
	        			</div>
		            </div>	            
		        </div>
		    </div>
		</div>
		<!-- 模态框 -->
		<button type="button" class="btn btn-primary" data-toggle="modal" id="modalAlert" data-target=".bs-example-modal-sm" style="width:0px;height:0px;padding: 0px;margin: 0px;overflow: hidden; position: fixed;top: 100000000000px">友情提示</button>
			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">

				        <div class="modal-header">
				          	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				          	<h4 class="modal-title" id="mySmallModalLabel">温馨提醒:</h4>
				        </div>
				        <div class="modal-body">
				          	密码
				        </div>
				      </div>
				</div>
			</div>
		<script src="/js/register.js"></script>
		<script>
			// 照片上传
			$("#file-1").fileinput({
		    	language: 'zh', //设置语言
		        uploadUrl: '#', // you must set a valid URL here else you will get an error
		        allowedFileExtensions : ['jpg', 'png','gif'],
		        overwriteInitial: false,
		        // maxFileSize: 1000,
		        maxFileSize: 10000,
		        maxFileCount: 2,
		        minFilesNum: 2,
		        maxFilesNum: 3,
		        browseClass: "btn btn-primary", //按钮样式   
		        slugCallback: function(filename) {
		            return filename.replace('(', '_').replace(']', '_');
		        }
			});
			$(".file-drop-zone-title").html("*拖拽照片到这里或者点击选择按钮*");
		</script>
	</body>
</html>
