/*login style*/
@charset 'utf-8';

section {
	background: #f2f2f2;
}

.login-contain {
	background: url(/images/login-bg.png) no-repeat center center;
	background-size: cover;
	padding: 98px 0 134px;
}
.login-box {
	overflow: hidden;
	float: right;
	width: 360px;
	background: #fff;
	padding: 36px 25px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
}
.login-header {
	line-height: 32px;
	background: url(/images/logo.png) no-repeat top left;
	padding-bottom: 35px;
}
.login-type-tab {
	width: 100%;
	margin-bottom: 24px;
}
.login-box .form-group {
	margin-bottom: 24px;
	text-decoration
}
.submit-btn {
	margin-top: 30px;
	margin-bottom: 46px;

}